<!-- nav bar :: start -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="nav-link" href="#">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        OUR TEAM
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        PATIENT INFORMATION
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        OUR SERVICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- navbar :: end -->
<div class="home" style="background-color:gray ;">
    <div class="btn btn-sm btn-primary" style="margin-left:85%;margin-top: 5%;">
        <button class="btn">407-697-3223</button>
    </div>
    <!-- body :: start -->
    <div class="card text" style="width:50%;height:80%;margin-top:1%;margin-left:25%;">
        <div class="col-sm-12 col-md-12">
            <div class="card" style="background-color: bisque;">
                <!-- Header start -->
                <div class="card-header" style="text-align:center;background-color: aquamarine;">
                    <i class="fa fa-align-justify"></i><strong>NEW PATIENTS WELCOME</strong>
                </div>
                <!-- Header end -->
                <p>We want you to be our patient!</p>

                <div class="col s12 white">
                    <div class="row">
                        <div class="form-group row" style="margin-left: 35%;">
                            <div class="col-md-12">
                                <button class="btn-success" [routerLink]="['/register']">Book an Appoinment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card start -->
    <h1 style="text-align: center;">OUR TEAM</h1>
    <div class="card-group" style="width:75%;margin-left:15%;margin-top:25px;">
        <div class="card" style="background-color: rgb(76, 102, 102);;">
            <img style="width:35%;height:25%;margin-left:35%;margin-top:3%;"
                src="https://gp-assets-1.growthplug.com/website_files/2020/12/18/Dr._Ling_Li.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Fay Hu</h5>
                <p class="card-text">When the families of Winter Park, Florida, look for a family dentist who provides
                    comprehensive dental care, they turn to Dr. Hu. At Fay Hu, patients receive preventive care, such as
                    teeth cleanings and sealants, as well as restorative and cosmetic dental procedures, including oral
                    surgery, dental crowns, and treatments for periodontal disease. She also provides orthodontic
                    treatment
                    through Invisalign and Fast Braces, a new innovative technique.</p>
            </div>
        </div>
        <div class="card" style="background-color: rgb(76, 102, 102);">
            <img style="width:35%;height:25%;margin-left:35%;margin-top:3%;"
                src="https://gp-assets-1.growthplug.com/website_files/2020/11/20/2034032.png" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Dr. Li, Oral Surgery Specialist</h5>
                <p class="card-text">Dr. Li earned her Doctor of Dental Medicine (DMD) from the University of Florida’s
                    College of Dentistry. She was also a graduate of Peking University’s School of Stomatology. Dr. Li
                    has
                    had more than 20 years of practicing clinical dentistry plus 5 years of scientific research
                    experience
                    on bone and hormone studies. She has performed many hard and soft tissue surgical procedures,
                    including
                    tooth and wisdom tooth extractions, bone grafting, periodontal surgeries, tissue regenerating,
                    biopsy,
                    as well as dental implants.</p>
            </div>
        </div>
        <div class="card" style="background-color:rgb(76, 102, 102);">
            <img style="width:35%;height:60%;margin-left:35%;margin-top:3%;"
                src="https://gp-assets-1.growthplug.com/website_files/2021/06/29/IMG-2812_nnk6Hgv.jpeg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Gonzalez</h5>
                <p class="card-text">Dr. Ana Gonzalez is a Winter Park native who has the best memories growing up as a
                    St.
                    Margaret Mary Knight and her post school walks on the avenue with her mom, exploring every lake,
                    spring,
                    and beach in Central Florida with her dad, and defending her goal on the soccer field as a Winter
                    Park
                    High School Wildcat. Although growing up she always thought she would pursue a career in biology,
                    while
                    studying and doing research on coral reefs at the University of Miami, living in the vibrant city of
                    Miami, and finding new mentorship, she discovered a new passion in the exciting world of art.</p>
            </div>
        </div>
        <!-- card :: end -->
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 3%;width:65%;margin-left:20%;">

        <div class="col">
            <div class="card" style="background-color:rgb(114, 139, 76) ;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">OFFICE HOURS</h5>
                    <li>Monday 7:00 am - 2:00 pm</li>
                    <li>Tuesday 7:00 am - 2:00 pm</li>
                    <li>Wednesday 7:00 am - 2:00 pm</li>
                    <li>Thursday 7:00 am - 2:00 pm</li>
                    <li>Friday 7:00 am - 2:00 pm</li>
                    <li>Saturday closed</li>
                    <li>Sunday closed</li>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color:rgb(114, 139, 76) ">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">LOCATION</h5>
                    <p>Fay Hu General Dentistry</p>
                    <p>800 West Morse Blvd</p>
                    <p> Suite 3B</p>
                    <p> Winter Park, FL 32789</p>
                </div>
            </div>
        </div>
    </div>
</div>